.alienList {
    cursor: pointer;
    display: flex;
    overflow: scroll;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.alienList::-webkit-scrollbar {
    display: none;
}